<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496593095835-m5unn843nos81munmdkp809i1o7i3bmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496593095835-m5unn843nos81munmdkp809i1o7i3bmv</string>
	<key>API_KEY</key>
	<string>AIzaSyB76sUwVuUSXhsPJm9Tw_SbZaxFOhUOhm0</string>
	<key>GCM_SENDER_ID</key>
	<string>496593095835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlyperdue.FRC-Scouting</string>
	<key>PROJECT_ID</key>
	<string>frc-scouting-1c954</string>
	<key>STORAGE_BUCKET</key>
	<string>frc-scouting-1c954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496593095835:ios:ba98ff881a197aa3338a3e</string>
</dict>
</plist>